/* Autores: Rodrigo Demarco, Nro 354653 - Bruno */
h1 {
    color: red;


}

article{
background-color: #00FF84;
margin: 3%;
padding: 10px;
border-radius: 10px;


}

#ordenarInscriptos{
      display: flex;
      align-items:center;
}

#ordenarInscriptosOpciones  {
    margin-left: 10px;


}
img {
    left: 300px;
    top: 100px;
}
footer {
   background-color: antiquewhite; 
    
}
section {
    background-color: rgb(150, 224, 150);
    background-size: 50% 40%;
}

